<mat-card appearance="outlined">
    <mat-card-content>
        <form >
            <mat-form-field class="fullWidth">
                <input [(ngModel)]="question.questiontxt" name="Question" matInput placeholder="Question">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input [(ngModel)]="question.answertxt" name="Answer" matInput placeholder="Correct Answer">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input [(ngModel)]="question.wrong1" name="Wrong1" matInput placeholder="Wrong Answer 1">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input [(ngModel)]="question.wrong2" name="Wrong2" matInput placeholder="Wrong Answer 2">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input [(ngModel)]="question.wrong3" name="Wrong3" matInput placeholder="Wrong Answer 3">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="post(question)"  mat-stroked-button>POST</button>
    </mat-card-actions>
  </mat-card>

        